<div class="row">
  <form class="col s12">

    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Login or Email" id="email" type="email" class="validate" >
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Enter password" id="password" type="password" class="validate" >
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Enter password again" id="pass" type="password" class="validate">
      </div>
    </div>

      <a [routerLink]="['/one']" class="waves-effect waves-light btn">next</a>

  </form>

</div>
