<header class="header">
  <div class="container">
    <div id="row" class="header__row">
      <div class="header__logo">
        <a href="#">
          <img src="../../assets/img/logo.png" alt="Bouncy">
        </a>
      </div>
      <!--            Header menu - Begin-->
      <nav id="menu" class="header__menu">
        <ul class="menu">
          <li class="menu__item current">
            <a class="menu__link" routerLink="/">Home</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" routerLink="/setup">Settings</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Team</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Contact</a>
          </li>

        </ul>
      </nav>
      <!--            Header menu - Finish-->
    </div>
    <h1 class="header__caption">We Are Code Cafe</h1>
    <p class="header__depiction">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
      praesentium voluptatum</p>

  </div>
</header>
